*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input,
button,
textarea,
a,
li,
select {
    margin: 0;

    //list-style-type: none;

    font: inherit;
    text-decoration: none;
}
